.FollowingPage{
    background-color: white;
}

.FollowingContainer{
    margin-top: 100px;
}

.Left{
    border:red 1px solid;
    overflow-y: scroll;
    height:60vh;
    -ms-overflow-style: none;

}

.Main{
    border:grey 1px solid;
    overflow:auto;
    -ms-overflow-style: none;
    height:60vh
}

.Right{
    border:green 1px solid;
    overflow:auto;
    -ms-overflow-style: none;
    height:60vh
}

.Left::-webkit-scrollbar {
    display: none;
}
.Main::-webkit-scrollbar {
    display: none;
}
.Right::-webkit-scrollbar {
    display: none;
}