.ComTrends{
    border: 0 solid red;
}

.ComTrendsMobile{
    border: 0 solid red;

}

.ComTrendsDesktop{
    border: 0 solid red;

}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
}


@media (min-width: 800px) {
    .ComTrendsMobile {
        display: none;
    }
}
@media (max-width: 800px) {
    .ComTrendsDesktop {
        display: none;
    }
}
